<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titulo}"></title>
</head>
<body>

<h3 th:text="${titulo}"></h3>

<ul>
  <li th:text="${usuario.username}"></li>
  <li th:text="${usuario.password}"></li>
  <li th:text="${usuario.email}"></li>
</ul>
</body>
</html>